[Unit]
Description=API Nul de tibo

[Service]
WorkingDirectory=/root/
LimitNOFILE=1000000
ExecStart=/root/API
Restart=always
RestartSec=1

 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=api-nul
#User=<alternate user>
#Group=<alternate group>

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target